html {
    text-align: center;
}



header {
    background-color: green;
    border-style: solid;
    border-color: rgb(87, 164, 223);

}

header h1 {
    margin: 10px;
    padding: 10px;
}



#menu::before {
    content: "☰";
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;

}

.navigation li {
    display: none;
}

.navigation a {
    display: flex;
    padding: 1rem;
    font-size: larger;

}

.navigation a:hover,
.navigation a:active {
    background-color: rgb(87, 164, 223);
    color: black;
}

.show li {
    display: block;
}


#menu.show::before {
    content: "X";
}


main {
    background-color: rgb(225, 224, 224);
    border-style: solid;
    border-color: rgb(87, 164, 223);
    display: grid;

}

p {
    margin: 10px;
    padding: 10px;
}

footer {
    background-color: green;
    border-style: solid;
    border-color: rgb(87, 164, 223);
}


#rock-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

table {
    margin: 10px;
    border-style: solid;
    border-color: black;
}