@media screen and (min-width: 740px) {

    nav {
        margin: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: large;
        gap: 20px;
    }

    nav a:hover {
        color: darkblue;
        text-decoration: overline;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;

    }


    #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #main-home {
        display: block;
    }

    .page2 {
        margin: 10px;
        padding: 10px;
        text-align: left;
    }


}