header {
    background-color: rgb(71, 119, 119);
    text-align: center;
}


body {
    background-color: cornsilk;
}

/*Mobile View*/

#menu {
    display: block;
    font-size: 2rem;
    padding: 10px;
    
    color:aquamarine;

}

#menu::before {
    content: "☰";
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;

}

.navigation li {
    display: none;
}

.navigation a {
    display: flex;
    color: aqua;
    padding: 1rem;
    font-size: larger;

}

.navigation a:hover,
.navigation a:active {
    background-color: black;
    color: white;
}

.show li {
    display: block;
}


#menu.show::before {
    content: "X";
}
