* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

html, body {
    
    background-color: rgba(96, 153, 244, 0.692);
}

header {
    background-color: rgb(0, 242, 255);
    
}

#course-title {
    display: block;
    margin: 10px;
    font-size: x-large;
    border: 5px;
}

nav {
    display: flex;
    
    justify-content: center;
    font-size: large;
    gap: 20px;

}

nav a {
    color: indigo;
    padding: 10px;
}

nav a:hover {
    text-decoration: overline;
}

main {
    background-color: aquamarine;
    display: grid;
    margin: 20px auto;
    grid-template-columns: 2fr 1fr;
}

#card-one {
    
    background-color: aliceblue;
    padding: 20px;
    margin: 1vw;
    grid-column: 1/2;
    
}



#card-two {
   
    background-color: aliceblue;
    margin: 1vw;
    padding: 20px;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px;
    padding: 5px;
}

li {
    margin: 20px;
    font-size: x-large;
}

footer {
    background-color: rgba(0, 242, 255);
    padding: 10px;
    margin: 10px;
}