body {
    text-align: center;
    background-color: rgb(217, 211, 211);
}

h1 {
    margin: 5px;
}

h2 {
    margin: 5px;
}

H3 {
    margin: 5px;
}



input {
    margin: 10px;
    padding: 5px;

}

form {
    border-style: solid;

}