@media screen and (min-width: 740px) {

    #fullscreen {
        display: block;

    }

    #mobile {
        display: none;
    }




    main {
        position: relative;
    }

    .contain {
        position: relative;
    }

    .data {
        position: absolute;
        background-color: brown;
        border-bottom: solid;
        bottom: 8px;
        left: 16px;
        margin: 5px;
        margin-bottom: 30px;
        padding: 5px;


    }

    .data h2 {
        margin: 5px;
        padding: 5px;
        background-color: gray;

    }

    .weather {

        position: absolute;
        background-color: brown;
        bottom: 16px;
        right: 8px;
        margin: 5px;
        padding: 5px;
    }

    .weather h2 {

        margin: 5px;
        padding: 10px;
        background-color: gray;

    }

    #icon {
        display: none;
    }

    #emoti {
        display: inline;
    }

    .weather-display ::after {
        content: '⛅';

    }















}