@media screen and (min-width: 740px) {

    #fullscreen {
        display: block;
    }

    #mobile {
        display: none;
    }

    .class {
        width: 100%;
        height: auto;
    }

    .contain {
        position: relative;
        text-align: center;
    }

    /*.data {
        position: absolute;
        bottom: 4px;
        left: 16px;
        background-color: brown;
        border-bottom: solid;

    }*/

    .data h3 {
        margin: 5px;
        padding: 5px;
        background-color: gray;
    }

    /*.weather {
        position: absolute;
        bottom: 8px;
        right: 16px;
        background-color: brown;
    }*/

    .weather h3 {
        margin: 5px;
        padding: 5px;
        background-color: gray;
    }







}