:root {
    background-color: rgb(72, 156, 41);
    margin: 1px;


}


.responsive {
    width: 100%;
    height: auto;
}

#title {
    padding: 20px;
}

main {
    text-align: center;
}

#fullscreen {
    display: none;
}

.data {
    display: grid;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    background-color: rgb(162, 30, 30);
    color: aliceblue;
}

.data h2 {
    margin: 5px;
    padding: 5px;
    background-color: gray;
}

.data label {
    margin: 5px;
}


.weather {
    padding: 10px;
    display: grid;
    border-style: solid;
    border-width: 2px;
    background-color: brown;
    color: aliceblue;
}


.weather h2 {
    margin: 5px;
    padding: 5px;
    background-color: gray;
}

#emoti {
    display: none;
}
