@media screen and (min-width: 740px) {

    #fullscreen {
        display: block;

    }

    #mobile {
        display: none;
    }

    .class {
        width: 100%;
        height: auto;
    }

    

    .data {
        background-color: brown;
        border-bottom: solid;
        grid-area: 1/1;

    }

    .data h3 {
        margin: 5px;
        padding: 5px;
        background-color: gray;
    }

    .weather {
        background-color: brown;
    }

    .weather h3 {
        margin: 5px;
        padding: 10px;
        background-color: gray;
    }

    #icon {
        display: none;
    }







}